{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ATRitems/style.css' %}">

<h1> Report on Action Taken </h1>

{% if pending_item_list %}
	<table>
		<tr>
		<th> Meeting and Item </th>
		<th> Title </th>
		<th> Decision of the Senate</th>
		<th> Responsible Functionary </th>
		<th> Status </th>
		</tr>
		{% for item in pending_item_list %}
		<tr>
			<td> {{item}} </td>
			<td> {{item.agenda_item}} </td>
			<td> {{item.decision_taken}} </td>
			<td> {% for user in item.functionary.all %} {{user}} </br> {% endfor %} </td>
		{% if item.is_complete %}
		<td> {{item.status}} </br> <b>Action Complete </b>  </td>
		{% else %}
		<td> {{item.status}} </br> <b>Action Pending </b> </td>
		{% endif %}
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No items</p>
{% endif %}
